$receipt-font-size: 0.875rem;
$receipt-spacing: 0.625em;

.card-block-spacing {
    padding: $receipt-spacing;
}

.grand-total {
    font-size: 1.125rem !important;
    font-weight: 600;
}

.item-attributes {
    display: inline-block;
    vertical-align: top;
}

.order-receipt-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line-item-attributes {
    font-size: 0.813em !important;
    margin: 0;
}

.line-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $darker-gray;
    font-size: $receipt-font-size;
    font-weight: bold;
    margin-bottom: $receipt-spacing;
}

.product-divider {
    margin-left: -$receipt-spacing;
    margin-right: -$receipt-spacing;

    hr {
        border-top: dashed 0.063em;
    }
}

.product-line-item + .product-line-item::before {
    content: "";
    display: block;
    border-bottom: 0.063em dashed $horizontal-rule-grey;
    margin: $receipt-spacing -0.625em;
}

.line-item-price-quantity-info::before {
    content: "";
    display: block;
    border-bottom: 0.063em solid $horizontal-rule-grey;
    margin: $receipt-spacing 0.313em 0;
}

.line-item-pricing-info {
    margin-bottom: 0;
}

.line-item-total-text {
    font-size: 0.813em;
}

.pricing {
    font-weight: bolder;
}

.product-image {
    width: 5.625em;
}

.shipping-method {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.hide-order-discount {
    display: none;
}

.hide-shipping-discount {
    display: none;
}


.order-discount {
    color: $red;
}

.shipping-discount {
    color: $red;
}
