@import "../variables";
@import "checkoutComponents";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.receipt {
    font-size: $receipt-font-size;
}

.section-label {
    font-size: $receipt-font-size;
    font-weight: bolder;
}

.shipping-method-label {
    font-size: $receipt-font-size;
}
