node_modules/
cartridges/app_storefront_base/cartridge/static/default/css/
cartridges/app_storefront_base/cartridge/static/default/js/
cartridges/app_storefront_base/cartridge/static/default/fonts/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
.DS_Store
test/appium/webdriver/config.json
