$alignment: left, center, right;
$pull: left, right;

$responsive-sizes: (xs, $screen-xs-min, $screen-xs-max),
    (sm, $screen-sm-min, $screen-sm-max),
    (md, $screen-md-min, $screen-md-max),
    (lg, $screen-md-min, 0);

@mixin media($min, $max) {
    @if $max == 0 {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    }
}

@each $size, $min-width, $max-width in $responsive-sizes {
    @include media($min-width, $max-width) {
        @each $align in $alignment {
            .text-#{$align}-#{$size} {
                text-align: center;
            }
        }

        @each $side in $pull {
            .pull-#{$side}-#{$size} {
                float: $side;
            }
        }
    }
}
