@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.item-attributes {
    display: inline-block;
    vertical-align: top;
}

.line-item-attributes {
    font-size: 0.813em;
    margin: 0;
}

.line-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $darker-gray;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.313em;
}

.line-item-pricing-info {
    margin-bottom: 0;

    + .price {
        font-size: 1em;
        font-weight: bolder;
    }
}

.line-item-price-quantity-info {
    margin-top: 0.625em;
    border-top: 1px solid $horizontal-rule-grey;
}

.flex {
    display: flex;
}

.line-item-total-text {
    font-size: 0.813em;
}

.pricing {
    font-size: 1em;
    font-weight: bolder;
}

.product-image {
    width: 5.625em;
    margin-right: 0.625em;
}
