@import "bootstrap/scss/functions";

// font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts";

// flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/";

$white: #fff !default;
$black: #000 !default;
$blue: #0070d2 !default;
$light-blue: #7ed0ee !default;
$brand-success: #008827 !default;
$brand-danger: #c00 !default;
$brand-primary: #00a1e0 !default;

// Consolidated values
$grey1: #f9f9f9;
$grey2: #eee;
$grey3: #ccc;
$grey4: #999;
$grey5: #666;
$grey6: #444;
$grey7: #222;
$grey8: #333;
$grey-transparent-1: rgba(0, 0, 0, 0.65);
$grey-transparent-2: rgba(0, 0, 0, 0.25);

$blue: $brand-primary !default;
$light-gray: $grey1 !default;
$slightly-darker-gray: $grey4 !default;
$dark-gray: $grey6 !default;
$darker-gray: $grey7 !default;
$brand-color: $brand-primary !default;
$horizontal-rule-grey: $grey3 !default;
$product-number-grey: $grey3 !default;
$horizontal-border-grey: $grey4 !default;
$menu-link: $grey6 !default;
$close-menu-bg: $grey2 !default;
$link-color: $dark-gray !default;
$hr-border-color: $grey3 !default;

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 769px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    md: 720px,
    lg: 940px,
    xl: 1140px
);

$border-radius: 0.1875rem !default;
$border-radius-lg: $border-radius !default;
$border-radius-sm: $border-radius !default;

$alert-danger-bg: $brand-danger !default;
$alert-success-bg: $brand-success !default;
$state-danger-text: #fff !default;
$alert-success-text: #fff !default;

// Font sizes
$base16-14px: 0.875em;

// Bootstrap overrides
$body-bg: $grey1 !default;
$card-cap-bg: $white !default;

// Tabs
$nav-tabs-border-width: 0 !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-active-link-hover-bg: transparent !default;

// breadcrumb
$breadcrumb-bg: transparent !default;

// table border
$table-border-color: $grey3 !default;

