@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.btn-storelocator-search {
    background-color: $light-gray;
    border-color: $brand-color;
    border-radius: 0;
    color: $brand-color;

    &:hover {
        background-color: $brand-color;
        color: $light-gray;
    }
}

.detect-location {
    margin-bottom: 1em;
}

.map-marker {
    order: 1;
    font-size: 3em;
    color: $brand-color;
    vertical-align: top;
    margin-left: 0.625rem;
}

.map-canvas {
    height: 225px;

    @include media-breakpoint-up(sm) {
        height: 450px;
    }
}

.store + .store::before {
    content: "";
    display: block;
    border-bottom: 0.063em solid $horizontal-rule-grey;
    margin: 0.625em -1.25em;

    @include media-breakpoint-up(lg) {
        margin: 0.625em -1.225em;
    }
}

.store-name {
    font-weight: 600;
}

.store-details {
    display: inline-block;
    margin-left: 1.250em;
}

.store-locator-no-apiKey {
    display: none;
}

.store-locator-no-results {
    display: none;
}

.storelocator-phone {
    color: $brand-color;
}

.store-separator {

    @include media-breakpoint-up(sm) {
        width: 60%;
    }
}

.spacer {
    margin-bottom: 30px;
}
