@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.btn-storelocator-search {
    background-color: $light-gray;
    border-color: $brand-color;
    border-radius: 0;
    color: $brand-color;

    &:hover {
        background-color: $brand-color;
        color: $light-gray;
    }
}

.detect-location {
    margin-bottom: 1em;
}

.map-marker {
    float: left;
    font-size: 2.5em;
    color: $brand-color;
    margin-left: 0.625rem;
}

.map-canvas {
    display: none;

    @include media-breakpoint-up(sm) {
        height: 28.125em;
        display: block;
    }
}

.store {
    padding-left: 0.625em;
    padding-right: 0.625em;

    @include media-breakpoint-up(md) {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
}

.store + .store {
    padding-bottom: 0;
    padding-top: 0;
}

.store + .store::before {
    content: "";
    display: block;
    border-bottom: 0.063em solid $horizontal-rule-grey;
    margin: 0 -0.65em 1em;

    @include media-breakpoint-up(lg) {
        margin: 0 -1.25em 1em;
    }
}

.store-name {
    font-weight: 600;
}

.store-details {
    display: block;
    margin-left: 3.125em;
}

.store-locator-no-apiKey {
    display: none;
}

.store-locator-no-results {
    display: none;
}

.store-locator-hero {
    background-image: url('../images/storelocator.jpg');
    margin-bottom: 0.625em;

    @include media-breakpoint-up(sm) {
        display: none;
    }
}

.results {

    @include media-breakpoint-up(md) {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 21.875em;
        margin-right: -0.938em;
        padding-right: 0.938em;
    }
}
