@import "collapsable-menu";

footer {
    background-color: $gray-lighter;
    padding-top: 1.25em; /* 20/16 */
    padding-bottom: 1.25em;

    h3 {
        font-size: $font-size-base;
        margin-bottom: 0;
        line-height: 2.5em; /* 40/16 */
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .social {
        h3 {
            margin-top: 0;
        }

        @include clearfix;
    }

    .copyright,
    .social {
        margin-top: 20px;
    }

    .social-links {

        @include clearfix;

        float: left;

        li {
            float: left;
            margin: 5px;
        }
    }

    .store {

        @include media-breakpoint-down(xs) {
            border-bottom: 1px solid $dark-gray;

            .content {
                display: none;
            }

            h3 {
                @include clearfix;

                &::after {
                    font-family: "FontAwesome";
                    float: right;
                    content: "\f041";
                }
            }
        }
    }

    .content {
        font-size: 0.875em; /* 14/16 */

        li {
            height: 1.875rem; /* 30/16 */
        }
    }

    .copyright,
    .postscript {
        font-size: 0.8125em; /* 13/16 */
    }

    .copyright {
        margin-bottom: 0.625em; /* 10/16 */
    }

    .back-to-top {

        @include box-shadow(0 5px 15px rgba(0,0,0,0.5));

        background-color: white;
        border-radius: 50%;
        float: left;
        margin: 5px;
        border-bottom-color: white;
        border-right-color: white;

        i {
            font-size: 26px;
        }
    }
}

.footer-item {
    border-bottom: 1px solid $dark-gray;
}
