footer {
    background-color: $gray-lighter;

    h3 {
        font-size: $font-size-base;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .social {
        h3 {
            margin-top: 0;
        }

        @include clearfix;
    }

    .copyright {
        margin-top: 20px;
    }

    .social-links {
        @include clearfix;
        float: left;

        li {
            float: left;
            margin: 5px;
        }
    }

    .back-to-top {
        background-color: white;
        border-radius: 50%;

        @include box-shadow(0 5px 15px rgba(0,0,0,0.5));
        float: left;
        margin: 5px;
        border-bottom-color: white;
        border-right-color: white;

        i {
            font-size: 26px;
        }
    }
}
