// font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts";

// flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/";

$light-gray: #f9f9f9;
$dark-gray: #545758;
$darker-gray: #333;
$brand-color: #59ba00;

$link-color: $dark-gray;
