@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.cart {
    background-color: #f9f9f9;
    padding-left: 5px;
    padding-right: 5px;
    @include media-breakpoint-up(sm) {
        padding-left: 15px;
        padding-right: 15px;
    }

}

.checkout-btn {
    background-color: $brand-color;
    color: #f9f9f9;
}

.edit-add-to-wishlist {
    a {
        color: $brand-color;
        font-size: 0.8125rem;
    }

}

.line-item-attributes {
    font-size: 13px;
    margin: 0;
}

.line-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.line-item-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.line-item-price-info {
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.remove-btn {
    color: #aaa;
    font-size: 26px;
    padding: 0;
    position: absolute;
    top: -10px;
    right: 20px;
    border: none;
    background-color: #fff;
    @include media-breakpoint-up(lg) {
        top: 0;
        bottom: 0;
        right: -10px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}

.remove-btn-lg {
    color: #aaa;
    //font-size: 26px;
    //background-color: #f9f9f9;
    //position: absolute;
    //bottom: 0;
    //top: 0;
    //right: 0;
    //border: none;
}

.line-item-divider {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.num-items {
    float: right;
}

.optional-promo {
    color: $brand-color;
}

.product-info {
    margin-bottom: 5px;
    padding: 10px;
    @include media-breakpoint-up(md) {
        height: 145px;
    }
}

.quantity-form{
    margin-bottom: 0;
    margin-top: -0.3125rem;
}

.remove-line-item {
    position: relative;
}

//.remove-line-item-lg {
//    position: static !important;
//}

.sub-total {
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero-dialog {
    background-color: $brand-color;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: sans-serif;
    font-size: 46px;
}

.no-margin-top {
    margin-top: 0;
}

.float-span-right {
    float: right;
}

.continue-shopping-link {
    color: $brand-color;
}

.help-phone-number {
    color: $brand-color;
}
