@charset "UTF-8";
@import "variables";
@import "bootstrap/variables";

.cart {
    background-color: #f6f6f6;
    padding-left: 5px;
    padding-right: 5px;
    @media (min-width: $screen-sm-min) {
        padding-left: 15px;
        padding-right: 15px;
    }

}

.line-item-attributes {
    font-size: 13px;
}

.line-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.line-item-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.line-item-price-info {
    font-size: 12px;
}

.remove-btn {
    color: #aaa;
    font-size: 26px;
    padding: 0;
    position: absolute;
    top: -10px;
    right: 20px;
    border: none;
    background-color: #fff;
}

.line-item-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.num-items {
    float: right;
}

.optional-promo {
    color: $brand-color;
}

.product-info {
    margin-bottom: 5px;
    padding: 10px;
}

.remove-line-item {
    position: relative;
}
