@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.btn-storelocator-search {
    background-color: $light-gray;
    border-color: $brand-color;
    border-radius: 0;
    color: $brand-color;

    &:hover {
        background-color: $brand-color;
        color: $light-gray;
    }
}

.btn-detect-location {
    background-color: $brand-color;
    border-color: $brand-color;
    border-radius: 0;
    color: $light-gray;

    &:hover {
        background-color: $light-gray;
        color: $brand-color;
    }
}

.map-marker {
    display: block;
    font-size: 48px;
    color: $brand-color;
}

.map-canvas {
    height: 225px;

    @include media-breakpoint-up(sm) {
        height: 450px;
    }
}

.store-locator-no-apiKey {
    display: none;
}

.store-locator-no-results {
    display: none;
}

.storelocator-phone {
    color: $brand-color;
}

.store-separator {

    @include media-breakpoint-up(sm) {
        width: 60%;
    }
}

.spacer {
    margin-bottom: 30px;
}
