@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../variables";
@import "../utilities/shapes";
@import "../utilities/responsiveUtils";
@import "../utilities/swatch";

.container.product-detail {
    margin-top: 2em;
    margin-bottom: 2em;
}

.product-detail .swatch-circle {
    // $white will be replaced by color image background in ISML
    @include swatch(2.5em, $white);
}

.description-and-detail {
    margin-top: 2em;

    .description {

        @include media-breakpoint-up(sm) {
            margin-bottom: 2em;
        }
    }
}

.social-icons {
    font-size: 1.875em;

    @include media-breakpoint-down(md) {
        font-size: 1.5625em;
    }
}

.wishlist-social {
    padding-top: 0.9375em;
    text-align: center;
}

div.availability,
.size-chart {
    margin-top: 1.071em;
}

label.availability {
    padding-right: 0.3125em;
}

@include media-breakpoint-up(sm) {
    .product-number-rating {
        border-bottom: 1px solid $hr-border-color;
    }
}

@include media-breakpoint-up(md) {
    .product-number-rating {
        border-top: 1px solid $hr-border-color;
    }
}

@include media-breakpoint-only(sm) {
    .product-name {
        border-bottom: 1px solid $hr-border-color;
    }
}

.ratings {

    @include media-breakpoint-up(sm) {
        margin-top: 0.625em;
    }

    @include media-breakpoint-only(xs) {
        background-color: $white;
        margin-top: -1.875em; /* 30/16 */
        margin-right: -0.9375em; /* 15/16 */
        padding: 0.1875em; /* 3/16 */
    }
}

.product-number {
    color: $product-number-grey;
    font-size: 0.875em;
    padding-bottom: 0.938em;
    padding-top: 0.938em;
}

.promotions {
    font-weight: normal;
    text-align: center;
    color: $brand-danger;

    .callout {
        font-size: 1.25em;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;

        @include media-breakpoint-up(sm) {
            font-size: 1.375em;
        }
    }
}
