@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

$receipt-font-size: 0.875rem;
$receipt-spacing: 0.625em;

.grand-total {
    font-size: 1.125rem !important;
    font-weight: 600;
}

.order-receipt-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-divider {
    margin-left: -$receipt-spacing;
    margin-right: -$receipt-spacing;

    hr {
        border-top: dashed 0.063em;
    }
}

.product-line-item + .product-line-item::before {
    content: "";
    display: block;
    border-bottom: 0.063em dashed $horizontal-rule-grey;
    margin: $receipt-spacing -0.625em;

    @include media-breakpoint-up(lg) {
        margin: $receipt-spacing -1.225em;
    }
}

.shipping-method {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
