@import "../variables";
@import "checkoutComponents";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";

$checkout-font-weight: 600;

.card.ghost {
    opacity: 0.5;
}

.arrival-time {
    white-space: pre;
}

.billing-address {
    display: block;
}

.billing-address.same-as-shipping {
    display: none;
}

.checkout-checkbox {
    font-size: 0.875em;
}

.checkout-summary-header {
    display: inline;
}

.edit-button {
    color: $brand-color;
    float: right;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.error-message {
    display: none;
}

.next-step-button {
    position: fixed;
    bottom: 0;
    z-index: 3;
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-down(xs) {
        div {
            padding: $spacer;
            background-color: $white;
        }
    }

    @include media-breakpoint-up(sm) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }
}

.section-title {
    font-weight: $checkout-font-weight;
}

.shipping-methods {
    font-size: 1.125em;
    font-weight: $checkout-font-weight;
}

.shipping-method-option {
    font-size: 0.938em;
}

.shipping-method-pricing {
    font-weight: bolder;
}

.shipping-nav {
    padding-top: 0;
    padding-bottom: 0;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button {
            display: none;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .card.shipping-form {
            display: none;
        }

        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .card.shipping-form,
        .card.payment-form {
            display: none;
        }

        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        .card.shipping-form {
            display: none;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .card.shipping-form,
        .card.payment-form {
            display: none;
        }

        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        .card.shipping-form {
            display: none;
        }

        button.place-order {
            display: none;
        }
    }
}

.credit-card-selection {
    display: none;

    &[data-card-type] {
        display: inline-block;
    }

    &[data-card-type="Visa"] {
        background-position: -162px -110px;
    }

    &[data-card-type="MasterCard"] {
        background-position: -295px -110px;
    }

    &[data-card-type="Amex"] {
        background-position: -230px -15px;
    }

    &[data-card-type="Discover"] {
        background-position: -95px -110px;
    }

    margin: 0;
    padding: 0;
    line-height: 0;
    background-repeat: no-repeat;
    width: 48px;
    height: 33px;
}
