@import "menu";
@import "search";

$banner-padding: 5px;
$menu-padding: 8px;
$menu-item-margin: 10px;

.header {
    position: relative;
}

.account {
    margin-right: 1.25em; /* 20/16 */
}

.navbar-header.brand {
    position: absolute;
    width: 100%;
    min-width: 18.75em; /* 300/16 */
    height: 100%;

    .navbar-brand {
        float: none;
        display: block;
        text-align: center;
    }
}

.header-menu {
    @include clearfix;

    margin-top: 0.625em; /* 10/16 */
    margin-bottom: 0.625em; /* 10/16 */

    .account,
    .country-selector,
    .header-search,
    .mini-cart {
        float: left;
    }

    @include media-breakpoint-up(md) {
        .pull-left {
            margin-top: 0.5em; /* 8/16 */
        }
    }
}

.main-menu {
    background-color: $dark-gray;
}

.header-banner {
    background-color: $darker-gray;
    padding-top: $banner-padding;
    padding-bottom: $banner-padding;
    text-align: center;
    color: white;
}

.mini-cart {
    margin-top: 0.1875em; /* 3/16 */

    a {
        color: $dark-gray;
    }

    .minicart-quantity {
        background-color: $brand-color;
        border-radius: 50%;
        width: 12px;
        display: inline-block;
        text-align: center;
        font-size: 9px;
        position: relative;
        top: -5px;
        left: -8px;
        color: white;
    }
}
