@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "account";

.profile-back-to-account-link {
    color: $brand-color;
    text-decoration: underline;
    display: block;
    text-align: center;
}
