// font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts";

// flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/";

$light-gray: #f9f9f9;
$slightly-darker-gray: #aaa;
$dark-gray: #545758;
$darker-gray: #333;
$brand-color: #59ba00;
$horizontal-rule-grey: #cbcbcb;
$product-number-grey: #ccc;
$white: #fff;
$black: #000;
$blue : #00f;

$link-color: $dark-gray;

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 769px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    md: 720px,
    lg: 940px,
    xl: 1140px
);

$brand-primary: #59ba00;

$border-radius: 0.1875rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$hr-border-color: #cbcbcb;

$state-danger-text: #fff;
$alert-danger-bg: #c00;

$alert-success-text: #fff;
$alert-success-bg: #59ba00;
