@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

@mixin banner-message-padding() {
    padding: 0.6em 1em 0.6em 10em;
}

@mixin banner-message-padding-md() {
    padding: 0.5em 0.9375em 0.5em 2.5em;
}

@mixin banner-message-padding-sm() {
    padding: 0.3125em 0.625em 0.3125em 1.875em;
}

.page {
    .homepage,
    .home-email-signup {
        padding-left: 0;
        padding-right: 0;
    }
}

.home-main-image .main-image,
.home-main-set-image .set-image {
    background-repeat: no-repeat;

    .banner-message {
        background-color: $brand-color;
        position: absolute;
        color: $light-gray;

        @include banner-message-padding();

        @include media-breakpoint-down(md) {
            @include banner-message-padding-md();
        }

        @include media-breakpoint-down(sm) {
            @include banner-message-padding-sm();
        }
    }
}

.home-main-image {
    .main-image {
        min-height: 21.75em;

        @include media-breakpoint-down(md) {
            min-height: 19.0625em;
        }

        @include media-breakpoint-down(xs) {
            min-height: 11.25em;
        }

        .banner-message {
            top: 30%;

            @include media-breakpoint-down(md) {
                top: 35%;
            }

            @include media-breakpoint-down(sm) {
                top: 30%;
            }
        }
    }
}

.hp-category-message,
.hp-promotion-message {
    position: absolute;
    bottom: 0.9375em;
    left: 1.875em;

    @include media-breakpoint-down(xs) {
        bottom: 0.9375em;
    }

    a {
        color: $white;
    }

    a.hp-promotion-message1 {
        font-size: 0.75em;
    }
}

.home-categories {

    @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .home-main-categories {
        padding-top: 0.9375em;
        padding-bottom: 0.9375em;
        margin: 0;

        @include media-breakpoint-down(xs) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.cat-cell,
.cat-row,
.cat-cellspan2,
.cat-rowspan2 {
    padding-left: 0;
    padding-right: 0;
    background-repeat: no-repeat;
}

.cat-rowspan2 {
    min-height: 41.4375em;
    background-position: 38% 0%;
}

.cat-cell {
    min-height: 16.5em;
}

.cat-cell-1 {
    background-position: 50% 0%;
}

.cat-cell-2 {
    background-position: 40% 80%;
}

.cat-cellspan2 {
    min-height: 24.9375em;
}

.cat-cell,
.cat-cellspan2,
.cat-rowspan2 {
    border: 0.0625em solid $white;

    @include media-breakpoint-down(xs) {
        min-height: 11.25em;
    }
}

.hp-product-grid {
    margin: 0;

    .hp-product-content {
        text-align: center;
        border: 0;

        @include media-breakpoint-down(sm) {
            min-height: 34.2em;
        }

        @include media-breakpoint-down(xs) {
            min-height: 27.1em;
        }

        span {
            font-size: 1em;

            @include media-breakpoint-down(sm) {
                font-size: 0.85em;
            }

            @include media-breakpoint-down(xs) {
                font-size: 0.65em;
            }
        }

        span.largeText {
            font-size: 5.5em;
            font-weight: 200;

            @include media-breakpoint-down(lg) { font-size: 4.5em; }

            @include media-breakpoint-down(md) { font-size: 3.4em; }

            @include media-breakpoint-down(sm) { font-size: 4em; }

            @include media-breakpoint-down(xs) { font-size: 2.5em; }
        }

        a {
            color: $brand-color;
            text-decoration: none;
        }
    }
}

.home-main-set-image {
    .set-image {
        min-height: 41.1875em;
        background-position: right;

        .banner-message {
            top: 70%;
        }

        @include media-breakpoint-down(md) {
            min-height: 30.3125em;
        }

        @include media-breakpoint-down(sm) {
            min-height: 26.3125em;
        }
    }
}

.set-image::after {
    content: "";
    position: absolute;
    border-top: 5.25em solid $white;
    border-right: 100vw solid transparent;
    top: -0.0625em;

    @include media-breakpoint-down(sm) {
        border-top: 0 none;
        border-right: 0 none;
        top: 0;
    }
}

.home-email-signup {
    background-color: $darker-gray;
    margin: 0;

    @include media-breakpoint-down(xs) {
        margin-left: 0;
        margin-right: 0;
    }

    .home-email-signup-padding-top {
        padding-top: 0.9375em;
        color: $light-gray;

        button {
            background-color: $brand-color;
            border-radius: 0;
            color: $light-gray;
        }

        input {
            height: 2.375rem;
        }
    }

    .email-description {
        padding-top: 0.375em;

        @include media-breakpoint-down(md) {
            padding-top: 0;
        }

        @include media-breakpoint-down(sm) {
            padding-bottom: 0.4em;
        }
    }

    .form-group {

        @include media-breakpoint-down(xs) {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
