@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.page {
    .homepage,
    .home-email-signup {
        padding-left: 0;
        padding-right: 0;

        .hero {
            background-position-y: 0;
        }
    }

    .shop-the-style {
        .hero {
            background-position-y: 45%;
        }
    }
}

.hp-category-message,
.hp-promotion-message {
    position: absolute;
    bottom: 0.9375em;
    left: 1.875em;

    @include media-breakpoint-down(xs) {
        bottom: 0.9375em;
    }

    a {
        color: $white;
    }

    a.hp-promotion-message1 {
        font-size: 0.75em;
    }
}

.home-categories {

    @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .home-main-categories {
        padding-top: 0.9375em;
        padding-bottom: 0.9375em;
        margin: 0;

        @include media-breakpoint-down(xs) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.cat-cell,
.cat-row,
.cat-cellspan2,
.cat-rowspan2 {
    padding-left: 0;
    padding-right: 0;
    background-repeat: no-repeat;
}

.cat-rowspan2 {
    min-height: 41.4375em;
    background-position: 50% 34%;

    @include media-breakpoint-down(xs) {
        background-position-y: 8%;
    }
}

.cat-cell {
    min-height: 16.5em;
}

.cat-cell-1 {
    background-position: 50% 15%;
}

.cat-cell-2 {
    background-position: 40% 60%;
}

.cat-cellspan2 {
    min-height: 24.9375em;
    background-position-y: 60%;

    @include media-breakpoint-down(xs) {
        background-position: 45% 85%;
    }
}

.cat-cell,
.cat-cellspan2,
.cat-rowspan2 {
    border: 0.0625em solid $white;

    @include media-breakpoint-down(xs) {
        min-height: 11.25em;
    }
}

.hp-product-grid {
    margin: 0;

    .hp-product-content {
        background-color: transparent; // remove if no longer using Bootstrap .card styles
        text-align: center;
        border: 0;

        @include media-breakpoint-down(xs) {
            min-height: 27.1em;
        }

        span {
            font-size: 1em;

            @include media-breakpoint-down(sm) {
                font-size: 0.85em;
            }

            @include media-breakpoint-down(xs) {
                font-size: 0.65em;
            }
        }

        span.largeText {
            font-size: 5.5em;
            font-weight: 200;

            @include media-breakpoint-down(lg) { font-size: 4.5em; }

            @include media-breakpoint-down(md) { font-size: 3.4em; }

            @include media-breakpoint-down(sm) { font-size: 3em; }

            @include media-breakpoint-down(xs) { font-size: 2.5em; }
        }

        a {
            color: $brand-color;
            text-decoration: none;
        }
    }
}

.home-email-signup {
    background-color: $grey6;
    margin: 0;

    @include media-breakpoint-down(xs) {
        margin-left: 0;
        margin-right: 0;
    }

    .home-email-signup-padding-top {
        padding-top: 0.9375em;
        color: $light-gray;

        button {
            background-color: $brand-color;
            border-radius: 0;
            color: $light-gray;
        }

        input {
            height: 2.375rem;
        }
    }

    .email-description {
        padding-top: 0.375em;

        @include media-breakpoint-down(md) {
            padding-top: 0;
        }

        @include media-breakpoint-down(sm) {
            padding-bottom: 0.4em;
        }
    }

    .form-group {

        @include media-breakpoint-down(xs) {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
