@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.login-page {
    margin-top: 0.938em;

    .login-form-nav {
        margin-bottom: 1.25em;

        .navtabs-centered {
            .nav-item {

                @include media-breakpoint-down(xs) {
                    width: 50%;
                    float: left;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        .row {
            text-align: center;
        }

        .navtabs-centered {
            display: block;
            text-align: center;

            > li {
                float: none;
                display: inline-block;
            }
        }

        .nav-link:hover,
        .nav-link {
            border: 0 none;
        }

        .nav-link-active,
        .nav-link-active:hover {
            border-bottom: 0.188em solid $brand-primary;
        }
    }

    .login {
        margin-bottom: 0.938em;

        .error-message-form {
            padding: 0.625em;
            background-color: $alert-danger-bg;
            color: $state-danger-text;
            border-radius: 0.188em;
        }

        .remember-me {
            padding-left: 0;
        }

        .forgot-password {
            text-align: right;
            padding-right: 0;

            a,
            a:hover {
                color: $brand-primary;
            }
        }

        .form-check {
            .row {
                margin: 0;
            }
        }
    }

    .required {
        color: $alert-danger-bg;
    }

    .login-oauth {
        .btn-oauth-login {
            color: $blue;
            border: 0.063em $blue solid;
            background-color: $white;

            img {
                height: 1.25em;
                width: 1.25em;
            }
        }
    }

    .check-order-header {
        font-size: 1.563em;
    }

    .checkorder {
        margin-top: 1.625em;
        margin-bottom: 2.75em;
    }
}

.registration-page {
    .privacy-policy {
        margin-top: 1rem;

        a {
            color: $brand-primary;
        }
    }
}
