<div class="demo">
	<div class="sample">
		{{{model.code}}}
	</div>
	<div class="code">
		<a class="toggle-markup" data-hook="toggle-markup">{{showMarkupText}}</a>
<pre data-hook="markup"><code class="language-markup">
{{model.code}}
</code></pre>
	</div>
</div>

