<nav id="nav" role="navigation">
    <div><a class="nav-item" href="../../index.html">Home</a></div>
	<ul class="nav nav-tabs">
		<li>
			<a class="nav-item" href="#foundation">Foundation</a>
			<ul class="nested-nav">
				<li><a class="nav-item" href="#colors">Colors</a></li>
				<li><a class="nav-item" href="#typography">Typography</a></li>
				<li><a class="nav-item" href="#icons">Icons</a></li>
			</ul>
		</li>
		<li>
			<a class="nav-item" href="#elements">Elements</a>
			<ul class="nested-nav">
				<li><a class="nav-item" href="#buttons">Buttons</a></li>
				<li><a class="nav-item" href="#breadcrumb">Breadcrumb</a></li>
				<li><a class="nav-item" href="#variations">Variations</a></li>
			</ul>
		</li>
		<li>
			<a class="nav-item" href="#components">Components</a>
			<ul class="nested-nav">
				<li><a class="nav-item" href="#header-with-nav">Header</a></li>
				<li><a class="nav-item" href="#product-tile">Product Tile</a></li>
			</ul>
		</li>
		<li><a class="nav-item">Pages</a></li>
	</ul>
</nav>
