@import "bootstrap/scss/functions";

// font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts";

// flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/";

$white: #fff;
$black: #000;
$blue: #0070d2;
$green: #008827;
$primary: #00a1e0;
$red: #c00;
$success: $green;
$danger: $red;
$light-blue: #7ed0ee;

// Consolidated values
$grey1: #f9f9f9;
$grey2: #eee;
$grey3: #ccc;
$grey4: #999;
$grey5: #666;
$grey6: #444;
$grey7: #222;
$grey8: #333;
$grey-transparent-1: rgba(0, 0, 0, 0.65);
$grey-transparent-2: rgba(0, 0, 0, 0.25);

$light-gray: $grey1;
$slightly-darker-gray: $grey4;
$dark-gray: $grey6;
$darker-gray: $grey7;
$horizontal-rule-grey: $grey3;
$product-number-grey: $grey3;
$horizontal-border-grey: $grey4;
$menu-link: $grey6;
$close-menu-bg: $grey2;
$link-color: $dark-gray;
$hr-border-color: $grey3;

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 769px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    md: 720px,
    lg: 940px,
    xl: 1140px
);

$border-radius: 0.1875rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$state-danger-text: #fff;
$alert-success-text: #fff;

// Font sizes
$base16-14px: 0.875em;

// Bootstrap overrides
$body-bg: $grey1;
$card-cap-bg: $white;

// Tabs
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-active-link-hover-bg: transparent;

// breadcrumb
$breadcrumb-bg: transparent;

// table border
$table-border-color: $grey3;

$svg-check: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");

