@each $size in map-keys($grid-breakpoints) {

    @include media-breakpoint-down($size) {
        .collapsable-#{$size} {
            .title,
            .card-header {
                line-height: 2.5em; /* 40/16 */

                @include clearfix;

                &::after {
                    float: right;
                    content: "\f078";
                    font-family: "FontAwesome";
                }
            }

            .content,
            .card-block {
                display: none;
            }

            &.active {
                .title::after,
                .card-header::after {
                    content: "\f077";
                    margin-top: -0.125em; /* 2/16 */
                }

                .content,
                .card-block {
                    display: block;
                }
            }
        }
    }

    div.collapsable-#{$size} a.title {
        color: $black;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
