.form-group {
    .form-control-feedback {
        display: none;
    }

    &.has-danger {
        .form-control-feedback {
            display: block;
        }
    }

    &.required .form-control-label::before {
        content: "*";
        color: $brand-danger;
    }
}

.form-group {
    > .form-control-feedback {
        display: none;
        font-size: 0.8125rem;
    }

    &.has-danger,
    &.has-warning {
        > .form-control-feedback {
            display: block;
        }
    }
}
