@import "menu";
@import "search";

$banner-padding: 5px;
$menu-padding: 8px;
$menu-item-margin: 10px;

.header {
    position: relative;
}

.navbar-header {
    height: 4.375em; /* 70/16 */

    .user,
    .country-selector,
    .search,
    .mini-cart {
        display: inline-block;
        margin: 0.9375em 0 0 0.5em;
    }

    .user,
    .country-selector,
    .mini-cart,
    .navbar-toggler {
        line-height: 2.25em; /* 36/16 */
        height: auto;
    }

    .navbar-toggler {
        font-size: 1em;
        width: auto;
        margin: 0.5em;
    }

    .user {
        position: relative;

        .popover {
            position: absolute;
            display: none;
            padding: 1em;
            top: 85%;
            left: 0;
            margin-left: -50%;

            a {
                white-space: nowrap;
                margin-bottom: 0.5em;
            }
        }

        &:hover {
            .popover {
                display: block;
            }
        }
    }
}

.brand {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;

    img {
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        width: 14.125em; /* 226/16 */
        margin-left: -7.0625em; /* 113/16 */
        padding-top: 0.5em;
    }

    @include media-breakpoint-down(md) {
        width: 4em; /* 64/16 */
        margin-left: -2em;
        padding-top: 0.8em;
    }
}

.main-menu {
    background-color: $dark-gray;
}

.header-banner {
    background-color: $darker-gray;
    padding-top: $banner-padding;
    padding-bottom: $banner-padding;
    text-align: center;
    color: $white;
}

.mini-cart {
    margin-top: 0.1875em; /* 3/16 */
    vertical-align: top;

    .minicart-quantity {
        background-color: $brand-color;
        border-radius: 50%;
        width: 1.0625em; /* 17/16 */
        height: 1.0625em; /* 17/16 */
        line-height: normal;
        display: inline-block;
        text-align: center;
        font-size: 0.8125em; /* 13/16 */
        position: relative;
        top: -0.4375em; /* 7/16 */
        left: -0.6875em; /* 11/16 */
        color: $white;
    }
}

a.normal {
    color: $brand-color;
    text-decoration: underline;
}
